* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  height: 100%;
}

#main-header {
  margin: 0 0 2rem;
}

#main-header {
  color: #4f738d;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0;
  color: #4a4a4a;
}

section {
  width: 100%;
  max-width: 40rem;
  border-radius: 10px;
  background-color: #fafafa69;
}

section ul {
  padding: 2rem 3rem;
  height: calc(100% - 5rem);
  overflow: auto;
}

button {
  font: inherit;
  background: #50738d;
  color: white;
  border: 1px solid #50738d;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button.alt {
  background: white;
  color: #50738d;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #364f61;
  border-color: #364f61;
  color: white;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  background: #f6fbff78;
  cursor: grab;
}

section > header {
  background: #4f738d;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

section header h2 {
  color: white;
  margin: 0;
}

.project-container {
  display: flex;
  justify-content: center;
  height: calc(100% - 8rem);
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo > img {
  height: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #1f1f1f;
  align-items: flex-start;
}

.logo-img {
  width: 2rem;
  margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
  color: #1f1f1f;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}

.row {
  padding: 1rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #cdd6dd;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
